.rights-res {
  color: #ced4da;
  font-size: 14px;
  font-weight: 400;
}

.wlcm-txt {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

.wlcm-txt-desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.otp-title {
  color: #000;
  font-size: 23px;
  font-weight: 600;
}

.otp-desc {
  font-size: 13px;
  color: #8e8e93;
  font-weight: 400;
}

.resend-otp {
  color: #1d4787;
  font-size: 16px;
  font-weight: 400;
}

.ngx-otp-input-box {
  width: 100% !important;
  height: 38px !important;
  border-radius: 4px !important;
}
