<div class="row report-cont">
  <div class="col-sm-12">
    <div class="row pb-4">
      <div class="col-10">
        <span class="card-header-title">Referral Files Received</span>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" class="login-form">
          <ng-container>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please input your search text!">
                    <nz-input-group>
                      <nz-range-picker [nzFormat]="'MM/dd/YYYY'" formControlName="daterange"></nz-range-picker>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select your client!">
                    <nz-select nzShowSearch formControlName="faxStatus" nzPlaceHolder="Fax Status">
                      <nz-option nzValue="-1" nzLabel="Fax Status"></nz-option>
                      @for (data of faxStatusList; track data) {
                        <nz-option nzValue="{{ data.id }}" nzLabel="{{ data.text }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please input your search text!">
                    <nz-input-group>
                      <input type="text" nz-input formControlName="patientName" placeholder="Patient Name" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select your role!">
                    <nz-select
                      nzShowSearch
                      formControlName="viewFiltList"
                      nzPlaceHolder="View Filter List"
                      (ngModelChange)="enableDisableFn($event)"
                    >
                      @for (data of viewFilterList; track data) {
                        <nz-option nzValue="{{ data.id }}" nzLabel="{{ data.text }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select
                      [nzMaxTagCount]="1"
                      nzMode="multiple"
                      nzAllowClear
                      nzShowSearch
                      formControlName="siteName"
                      nzPlaceHolder="Facility Name"
                    >
                      <!-- <nz-select nzShowSearch formControlName="siteName" nzPlaceHolder="Facility Name"> -->
                      @for (data of siteList; track data) {
                        <nz-option nzValue="{{ data.sitename }}" nzLabel="{{ data.sitename }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select
                      [nzMaxTagCount]="1"
                      nzMode="multiple"
                      nzAllowClear
                      nzShowSearch
                      formControlName="docType"
                      nzPlaceHolder="Document Type"
                    >
                      @for (data of docTypeList; track data) {
                        <nz-option nzValue="{{ data.display_name }}" nzLabel="{{ data.display_name }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please input your search text!">
                    <nz-input-group>
                      <input type="text" nz-input formControlName="fileName" placeholder="File Name" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select
                      [nzMaxTagCount]="1"
                      nzMode="multiple"
                      nzAllowClear
                      nzShowSearch
                      formControlName="exceptStatus"
                      nzPlaceHolder="Exception Status"
                    >
                      @for (data of exceptStatList; track data) {
                        <nz-option nzValue="{{ data.text }}" nzLabel="{{ data.text }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select nzShowSearch formControlName="newPatient" nzPlaceHolder="New Patient">
                      <nz-option nzValue="0" nzLabel="New patient"></nz-option>
                      <nz-option nzValue="1" nzLabel="Yes"></nz-option>
                      <nz-option nzValue="2" nzLabel="No"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control>
                    <button nz-button class="me-2" nzType="primary" (click)="submitForm()">
                      <span nz-tooltip nzTooltipTitle="search" nz-icon nzType="search"></span>
                    </button>
                    <button nz-button nzType="default" (click)="handleReset()">
                      <span nz-tooltip nzTooltipTitle="reset" nz-icon nzType="close-circle" nzTheme="outline"></span>
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </ng-container>
        </form>

        <ref-files-view1
          *ngIf="selectedScreen === '1'"
          [fileListData]="fileListData"
          [formDataCopy]="formDataCopy"
          [validateForm]="validateForm"
        ></ref-files-view1>
        <ref-files-view2
          *ngIf="selectedScreen === '2' || selectedScreen === '3' || selectedScreen === '5' || selectedScreen === '7'"
          [fileListData]="fileListData"
          [validateForm]="validateForm"
        ></ref-files-view2>
        <ref-files-view3 *ngIf="selectedScreen === '4'" [fileListData]="fileListData" [validateForm]="validateForm"></ref-files-view3>
        <ref-files-view4 *ngIf="selectedScreen === '6'" [fileListData]="fileListData" [validateForm]="validateForm"></ref-files-view4>
      </div>
    </div>
  </div>
</div>
