<div class="row report-cont">
  <div class="col-sm-12">
    <div class="row pb-4">
      <div class="col-10">
        <span class="card-header-title">Incoming File List</span>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" class="login-form">
          <ng-container>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please input your search text!">
                    <nz-input-group>
                      <nz-range-picker [nzFormat]="'MM/dd/YYYY'" formControlName="daterange"></nz-range-picker>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select your client!">
                    <nz-select nzShowSearch formControlName="faxStatus" nzPlaceHolder="Fax Status">
                      <nz-option nzValue="-1" nzLabel="--All--"></nz-option>
                      @for (data of faxStatusList; track data) {
                        <nz-option nzValue="{{ data.id }}" nzLabel="{{ data.text }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please input your search text!">
                    <nz-input-group>
                      <input type="text" nz-input formControlName="patientName" placeholder="Patient Name" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select your role!">
                    <nz-select nzShowSearch formControlName="viewFiltList" nzPlaceHolder="View Filter List">
                      @for (data of viewFilterList; track data) {
                        <nz-option nzValue="{{ data.id }}" nzLabel="{{ data.text }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select
                      [nzMaxTagCount]="1"
                      nzMode="multiple"
                      nzAllowClear
                      nzShowSearch
                      formControlName="siteName"
                      nzPlaceHolder="Facility Name"
                    >
                      @for (data of siteList; track data) {
                        <nz-option nzValue="{{ data.sitename }}" nzLabel="{{ data.sitename }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select
                      [nzMaxTagCount]="1"
                      nzMode="multiple"
                      nzAllowClear
                      nzShowSearch
                      formControlName="docType"
                      nzPlaceHolder="Document Type"
                    >
                      @for (data of docTypeList; track data) {
                        <nz-option nzValue="{{ data.display_name }}" nzLabel="{{ data.display_name }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please input your search text!">
                    <nz-input-group>
                      <input type="text" nz-input formControlName="fileName" placeholder="File Name" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select
                      [nzMaxTagCount]="1"
                      nzMode="multiple"
                      nzAllowClear
                      nzShowSearch
                      formControlName="exceptStatus"
                      nzPlaceHolder="Exception Status"
                    >
                      @for (data of exceptStatList; track data) {
                        <nz-option nzValue="{{ data.text }}" nzLabel="{{ data.text }}"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select status!">
                    <nz-select nzShowSearch formControlName="newPatient" nzPlaceHolder="New Patient">
                      <nz-option nzValue="0" nzLabel="--All--"></nz-option>
                      <nz-option nzValue="1" nzLabel="Yes"></nz-option>
                      <nz-option nzValue="2" nzLabel="No"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="8" [nzLg]="4" [nzXl]="4">
                <nz-form-item>
                  <nz-form-control [nzSpan]="24" nzErrorTip="Please select user!">
                    <nz-select nzShowSearch formControlName="selectedUser" nzPlaceHolder="Users"></nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-form-item>
                  <nz-form-control>
                    <button nz-button class="me-2" nzType="primary" (click)="submitForm()">
                      <span nz-tooltip nzTooltipTitle="search" nz-icon nzType="search"></span>
                    </button>
                    <button nz-button class="me-2" nzType="default" (click)="handleReset()">
                      <span nz-tooltip nzTooltipTitle="reset" nz-icon nzType="close-circle" nzTheme="outline"></span>
                    </button>
                    <button nz-button nzType="default" (click)="onBackClick()">
                      <span nz-tooltip nzTooltipTitle="back" nz-icon nzType="arrow-left" nzTheme="outline"></span>
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <!-- <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button> -->
          </ng-container>
        </form>
        <nz-table [nzPageSize]="20" nzNoResult="No Data Found." [nzLoading]="loading" #basicTable [nzData]="detailsFileListData">
          <thead>
            <tr>
              <th nzWidth="160px" [nzSortFn]="sortClientNameFn">Action</th>
              <th [nzSortFn]="sortClientNameFn">Id</th>
              <th [nzSortFn]="sortClientNameFn">File Name</th>
              <th [nzSortFn]="sortClientNameFn">Received At</th>
              <th [nzSortFn]="sortClientNameFn">Patient Name</th>
              <th [nzSortFn]="sortClientNameFn">Modified User</th>
              <th [nzSortFn]="sortClientNameFn">File Status</th>
              <th [nzSortFn]="sortClientNameFn">Action Date Time</th>
              <th [nzSortFn]="sortClientNameFn">Document Count</th>
              <th [nzSortFn]="sortClientNameFn">Page Count</th>
              <th [nzSortFn]="sortClientNameFn">Assigend to</th>
            </tr>
          </thead>
          <tbody>
            @for (data of basicTable.data; track data) {
              <tr>
                <td>
                  <button
                    routerLink="/BotQueue/ExceptionDetails"
                    [queryParams]="{
                      dateRange: validateForm.value.daterange
                        ? validateForm.value.daterange[0]?.toLocaleDateString('en-US', {
                            month: '2-digit',
                            day: '2-digit',
                            year: 'numeric'
                          }) +
                          '-' +
                          validateForm.value.daterange[1]?.toLocaleDateString('en-US', {
                            month: '2-digit',
                            day: '2-digit',
                            year: 'numeric'
                          })
                        : null,
                      faxid: data.faxid,
                      status: data.current_status,
                      faxStatus: validateForm.value.faxStatus
                    }"
                    nz-button
                    class="me-2"
                    nzType="primary"
                  >
                    <span nz-tooltip nzTooltipTitle="Click to View Fax Details and Information" nz-icon nzType="info-circle"></span>
                  </button>
                  <button nz-button class="me-2" nzType="primary">
                    <span
                      routerLink="/pageException"
                      [queryParams]="{
                        faxid: data.faxid,
                        actionstatus: 'view'
                      }"
                      nz-tooltip
                      nzTooltipTitle="Click to View the Entities"
                      nz-icon
                      nzType="check"
                    ></span>
                  </button>
                  <!-- <button nz-button class="me-2" nzType="primary">
                    <span nz-tooltip nzTooltipTitle="Click to ` an issue" nz-icon nzType="bug"></span>
                  </button> -->
                  <button nz-button class="me-2" nzType="primary" (click)="openPageimg(data.file_path)">
                    <span nz-tooltip nzTooltipTitle="Click to View/Download File" nz-icon nzType="eye"></span>
                  </button>
                </td>
                <td>
                  {{ data.referralId }}
                </td>
                <td>
                  {{ data.fax_filename }}
                </td>
                <td>{{ data.modified_datetime }}</td>
                <td>{{ data.patient_name }}</td>

                <td>{{ data.resolvedBy }}</td>

                <td>{{ data.current_status }}</td>
                <td>{{ data.actionTaken }}</td>
                <td>{{ data.page_doc_count }}</td>
                <td>{{ data.page_count }}</td>
                <td>
                  <nz-select nzShowSearch nzPlaceHolder="Select User">
                    <nz-option nzValue="0" nzLabel="User 1"></nz-option>
                    <nz-option nzValue="1" nzLabel="User 2"></nz-option>
                    <nz-option nzValue="2" nzLabel="User 3"></nz-option>
                  </nz-select>
                </td>
              </tr>
            }
          </tbody>
        </nz-table>
      </div>
    </div>
    <!-- <app-card cardTitle="Roles" buttonText="Add Role" (onBtnClickEvt)="onAddNewRole()"> -->

    <!-- </app-card> -->
  </div>
</div>
