<div class="row report-cont">
  <div class="col-sm-12">
    <div class="row pb-4">
      <div class="col-10">
        <span class="card-header-title">Document In File</span>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="pb-2">
          <button nz-button class="me-2" nzType="primary" (click)="goBack()">
            <span nz-tooltip nzTooltipTitle="Click to go back" nz-icon nzType="arrow-left"></span>
          </button>
          <!-- <button nz-button class="me-2" nzType="primary">
            <span nz-tooltip nzTooltipTitle="Click to submit an issue" nz-icon nzType="bug"></span>
          </button> -->
          <button nz-button class="me-2" nzType="primary" (click)="viewEntities()">
            <span nz-tooltip nzTooltipTitle="Click to view the Entities" nz-icon nzType="check"></span>
          </button>
          <button nz-button class="me-2" nzType="primary" (click)="openHistory(exceDetailsFileData[0]?.faxid)">
            <span nz-tooltip nzTooltipTitle="view history" nz-icon nzType="history"></span>
          </button>
          <button nz-button class="me-2" nzType="primary" (click)="openPageimg(exceDetailsFileData[0]?.fax_file_path)">
            <span nz-tooltip nzTooltipTitle="Click to View/Download the file" nz-icon nzType="eye"></span>
          </button>
          <!-- <button nz-button class="me-2" nzType="primary">
            <span nz-tooltip nzTooltipTitle="Open Outlook" nz-icon nzType="mail"></span>
          </button> -->
        </div>
        <nz-table [nzPageSize]="20" nzNoResult="No Data Found." [nzLoading]="loading" #basicTable [nzData]="exceDetailsFileData">
          <thead>
            <tr>
              <th nzWidth="120px" [nzSortFn]="sortClientNameFn">ACTION</th>
              <th [nzSortFn]="sortClientNameFn">DOCUMENT TYPE</th>
              <th [nzSortFn]="sortClientNameFn">CURRENT/MODIFIED USER NAME</th>
              <th [nzSortFn]="sortClientNameFn">FILE STATUS</th>
              <th [nzSortFn]="sortClientNameFn">PAGE COUNT</th>
              <th [nzSortFn]="sortClientNameFn">PATIENT NAME</th>
              <th [nzSortFn]="sortClientNameFn">Date of Birth</th>
              <th [nzSortFn]="sortClientNameFn">ACTION DATE TIME</th>
              <th [nzSortFn]="sortClientNameFn">RECEIVER NAME</th>
            </tr>
          </thead>
          <tbody>
            @for (data of basicTable.data; track data) {
              <tr>
                <td>
                  <!-- <button
                    routerLink="/BotQueue/ExceptionPageDetails"
                    [queryParams]="{
                      faxid: data.faxid,
                      status: exception,
                      faxStatus: faxStatus,
                      patient_group_id: data.patient_group_id,
                      document_group_id: data.document_group_id
                    }"
                    nz-button
                    class="me-2"
                    nzType="primary"
                  >
                    <span nz-tooltip nzTooltipTitle="Click to view document and information" nz-icon nzType="info-circle"></span>
                  </button> -->
                  <button nz-button class="me-2" nzType="primary">
                    <span
                      routerLink="/pageException"
                      [queryParams]="{
                        faxid: data.faxid,
                        actionstatus: 'view'
                      }"
                      nz-tooltip
                      nzTooltipTitle="Click to view the Entities"
                      nz-icon
                      nzType="check"
                    ></span>
                  </button>
                </td>
                <td [nzExpand]="expandSet.has(data.faxid)" (nzExpandChange)="onExpandChange(data.faxid, $event)">
                  {{ data.document_type }}
                </td>
                <td>{{ data.resolvedBy }}</td>
                <td>{{ data.exception_details }}</td>
                <td>{{ data.PageCount }}</td>
                <td>{{ data.patient_name }}</td>
                <td></td>
                <td>{{ data.actionTaken }}</td>
                <td>{{ data.receiving_faxname }}</td>
              </tr>
              <tr [nzExpand]="expandSet.has(data.faxid)">
                <div>
                  <nz-table
                    [nzPageSize]="20"
                    nzNoResult="No Data Found."
                    [nzLoading]="loading"
                    #basicTable
                    [nzData]="exceptionDetailsFileListData"
                    [nzShowPagination]="false"
                  >
                    <thead>
                      <tr>
                        <th [nzSortFn]="sortClientNameFn">ACTION</th>
                        <th [nzSortFn]="sortClientNameFn">PATIENT NAME</th>

                        <th [nzSortFn]="sortClientNameFn">Date of Birth</th>
                        <th [nzSortFn]="sortClientNameFn">PAGE NO.</th>
                        <th [nzSortFn]="sortClientNameFn">PAGE STATUS</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data1 of basicTable.data; track data1) {
                        <tr>
                          <td>
                            <button nz-button class="me-2" nzType="primary">
                              <span
                                nz-tooltip
                                nzTooltipTitle="Click to View/Download file"
                                nz-icon
                                nzType="eye"
                                (click)="openPageimg(data1)"
                              ></span>
                            </button>
                          </td>
                          <td>{{ data1.patient_name }}</td>

                          <td></td>
                          <td>{{ data1.sequence }}</td>
                          <td>{{ data1.current_page_status }}</td>
                        </tr>
                      }
                    </tbody>
                  </nz-table>
                </div>
              </tr>
            }
          </tbody>
        </nz-table>
      </div>
    </div>
    <!-- <app-card cardTitle="Roles" buttonText="Add Role" (onBtnClickEvt)="onAddNewRole()"> -->

    <!-- </app-card> -->
  </div>
  <history-modal
    *ngIf="isHMVisible"
    [isVisible]="isHMVisible"
    [historyData]="historyData"
    (closeModalEvent)="onHMCloseModalEvent($event)"
  ></history-modal>
</div>
