<div class="row report-cont">
  <div class="col-sm-12">
    <div class="row pb-4">
      <div class="col-10">
        <button nz-button class="me-2" nzType="primary" (click)="goBack()">
          <span nz-tooltip nzTooltipTitle="back">back</span>
        </button>
      </div>
      <div class="col-12">
        <span>
          <b>File Name:</b>
          {{ faxdata?.fax_filename }}
        </span>
        <span>Serach</span>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <app-openseadragon-viewer></app-openseadragon-viewer>
          </div>
          <div class="col-sm-6">
            Document Fields:
            <div><acc-info [patientGroupData]="patientGroupData" [faxdata]="faxdata"></acc-info></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
