<nz-modal
  [nzWidth]="'60vw'"
  [nzMaskClosable]="false"
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>Audit Page List</ng-template>
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="24">
        <nz-table [nzPageSize]="10" nzNoResult="No Data Found." #basicTable [nzData]="historyData">
          <thead>
            <tr>
              <th>Date Time</th>
              <th>Action By</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            @for (data of basicTable.data; track data) {
              <tr>
                <td>
                  {{ data.action_datetime | date: 'MM/dd/YYYY hh:mm' }}
                </td>
                <td>{{ data.action_by }}</td>
                <td>{{ data.PageStatusDetail }}</td>
              </tr>
            }
          </tbody>
        </nz-table>
      </div>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleCancel()">Close</button>
  </ng-template>
</nz-modal>
