<ng-scrollbar style="height: calc(100vh - 60px)" visibility="hover">
  <div class="navbar-content">
    <nz-layout>
      <nz-sider nzWidth="260px" nzCollapsible [(nzCollapsed)]="navCollapsed" [nzTrigger]="null">
        <ul class="sidebar-menu" nz-menu nzTheme="light" nzMode="inline" (mouseleave)="navMob()">
          <!-- <li nz-submenu nzTitle="User" nzIcon="user">
            <ul>
              <li nz-menu-item>Tom</li>
              <li nz-menu-item>Bill</li>
              <li nz-menu-item>Alex</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Team" nzIcon="team">
            <ul>
              <li nz-menu-item>Team 1</li>
              <li nz-menu-item>Team 2</li>
            </ul>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="file"></span>
            <span>File</span>
          </li> -->

          <li title="Category" nz-menu-item nzSelected>dashboard</li>
        </ul>

        <!-- <ul nz-menu nzTheme="light" nzMode="inline" class="nav coded-inner-navbar" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
          @for (item of navigation; track item) {
            @if (item.type == 'group') {
              <app-nav-group [item]="item"></app-nav-group>
            }
            @if (item.type == 'collapse') {
              <app-nav-collapse [item]="item"></app-nav-collapse>
            }
            @if (item.type == 'item') {
              <app-nav-item [item]="item"></app-nav-item>
            }
          }
        </ul> -->
      </nz-sider>
    </nz-layout>
  </div>
  <div *ngIf="!navCollapsed" style="text-align: center">
    <div class="pwd-by">Powered By</div>
    <div><img src="assets/images/health-drive/SST-Logo.png" width="45%" alt="SSH trans BG" /></div>
  </div>
</ng-scrollbar>
