<div>
  <nz-table [nzPageSize]="10" nzNoResult="No Data Found." [nzLoading]="loading" #basicTable [nzData]="fileListData">
    <thead>
      <tr>
        <th [nzSortFn]="sortClientNameFn">Date</th>
        <th [nzSortFn]="sortClientNameFn">New Document</th>
        <th [nzSortFn]="sortClientNameFn">System Processing</th>
        <th [nzSortFn]="sortClientNameFn">Successfully Processed</th>
        <th [nzSortFn]="sortClientNameFn">System Error</th>
        <th [nzSortFn]="sortClientNameFn">Manual Review</th>
        <th [nzSortFn]="sortClientNameFn">Total</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data) {
        <tr>
          <td>
            <div class="cust-link" routerLink="/BotQueue/Details" [queryParams]="queryParams(data, '-1')">
              <!-- {{ data.date }} -->
              {{ data.receivedDate | date: 'MM/dd/YYYY' }}
            </div>
          </td>
          <td>
            <div class="cust-link" routerLink="/BotQueue/Details" [queryParams]="queryParams(data, '0')">
              <!-- {{ data.new_fax }} -->
              {{ data.newDocument }}
            </div>
          </td>
          <td>
            <div class="cust-link" routerLink="/BotQueue/Details" [queryParams]="queryParams(data, '1')">
              <!-- {{ data.system_processing }} -->
              {{ data.systemProcessing }}
            </div>
          </td>
          <td>
            <div class="cust-link" routerLink="/BotQueue/Details" [queryParams]="queryParams(data, '3')">
              <!-- {{ data.successfully_processed }} -->
              {{ data.successfullyProcessed }}
            </div>
          </td>
          <td>
            <div class="cust-link" routerLink="/BotQueue/Details" [queryParams]="queryParams(data, '2')">
              <!-- {{ data.system_error }} -->
              {{ data.systemError }}
            </div>
          </td>
          <td>
            <div class="cust-link" routerLink="/BotQueue/Details" [queryParams]="queryParams(data, '4')">
              <!-- {{ data.business_exception }} -->
              {{ data.manualReview }}
            </div>
          </td>
          <td>
            <div class="cust-link" routerLink="/BotQueue/Details" [queryParams]="queryParams(data, '-1')">
              <!-- {{ data.total }} -->
              {{ data.totalDocuments }}
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
