<div>
  <nz-table [nzPageSize]="10" nzNoResult="No Data Found." [nzLoading]="loading" #basicTable [nzData]="fileListData">
    <thead>
      <tr>
        <th [nzSortFn]="sortClientNameFn">Action</th>
        <th [nzSortFn]="sortClientNameFn">Id</th>
        <th [nzSortFn]="sortClientNameFn">File Name</th>
        <th [nzSortFn]="sortClientNameFn">Received At</th>
        <th [nzSortFn]="sortClientNameFn">Patient Name</th>
        <th [nzSortFn]="sortClientNameFn">Referral Source</th>
        <th [nzSortFn]="sortClientNameFn">Department</th>
        <th [nzSortFn]="sortClientNameFn">File Status</th>
        <th [nzSortFn]="sortClientNameFn">Action Date Time</th>
        <th [nzSortFn]="sortClientNameFn">Document Count</th>
        <th [nzSortFn]="sortClientNameFn">Page Count</th>
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track data) {
        <tr>
          <td>
            <button
              routerLink="/BotQueue/ExceptionDetails"
              [queryParams]="{
                faxid: data.faxid,
                status: data.exception_status
              }"
              nz-button
              class="me-2"
              nzType="primary"
            >
              <span nz-tooltip nzTooltipTitle="Click to view document and information" nz-icon nzType="info-circle"></span>
            </button>
            <button nz-button class="me-2" nzType="primary" (click)="openPageimg(data.file_path)">
              <span nz-tooltip nzTooltipTitle="Click to View/Download File" nz-icon nzType="eye"></span>
            </button>
          </td>
          <td></td>
          <td>
            <div>
              {{ formatFileName(data.fax_file_name) }}
            </div>
          </td>
          <td>
            {{ formatDate(data.received_at) }}
          </td>
          <td>
            <div>
              {{ data.patient_name }}
            </div>
          </td>
          <td>
            <div>
              {{ data.referral_source }}
            </div>
          </td>
          <td>
            <div>
              {{ data.department }}
            </div>
          </td>
          <td>
            <div>
              {{ data.exception_status }}
            </div>
          </td>
          <td>
            <div>
              {{ data.action_datetime }}
            </div>
          </td>
          <td>
            <div>
              {{ data.document_count }}
            </div>
          </td>

          <td>
            <div>
              {{ data.page_count }}
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
